<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="ClientId" value="dca9afe0-a2cd-46a5-9dd1-d046f3b30676"/>
        <!--<add key="ClientId" value="9d3e55ba-79e0-4b7c-af50-dc460b81dca1"/>-->
        <!--<add key="RedirectURI" value="https://portal-su1.usw.int.datadirectory.azure-test.net/oauth/replyto"/>-->
        <!--<add key="RedirectURI" value="https://login.windows-ppe.net/common/oauth/replyto"/>-->
        <!--<add key="RedirectURI" value="https://portal-su1.usw.int.datadirectory.azure-test.net/oauth/replyto"/>-->
        <add key="RedirectURI" value="https://portal-su1.test.datadirectory.azure-test.net/oauth/replyto"/>
        <add key="ResourceId" value="https://api.azuredatacatalog.com"/>
    </appSettings>
</configuration>